body {
    background-color: #e0f2fe; /* Esto es un hermoso color azul cielo pastel moderno */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #0369a1; /* Un color azul oscuro elegante para tu título principal */
}
